@import './variables';

.App {
    font-family: 'MapoFlowerIsland', sans-serif;
    font-weight: 700;
    max-width: $MAX_WIDTH;
    width: 100%;
    overflow-x: hidden !important;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}