@import './variables';

.fade-up {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
  }
  
  .fade-up.visible {
    opacity: 1;
    transform: translateY(0);
  }
  .fade-in {
    opacity: 0;
    transition: opacity 1s ease-in;
  }
  
  .fade-in.visible {
    opacity: 1;
  }
  
.App {
    font-family: 'MaruBuri';    
    font-weight: 400;
    max-width: $MAX_WIDTH;
    width: 100%;
    overflow-x: hidden !important;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    font-size: 15px;
    gap: 20px;
    line-height: 180%;
    color: $NEUTRAL_900;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding-bottom: 4rem;
    .section_title {
        margin: 1rem;
    }
    >section {
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        .subTitle {
            font-size: 12px;
        }
    }
    .name {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        font-size: 20px;
        margin: 0 0 20px 0;
        // text-shadow: 0 8px 9px #c4b59d, 0px -2px 1px #fff;
        font-weight: bold;
        text-align: center;
        border-radius: 20px;
      
        >i {
            background-image: url('../Assets/Images/heart_icon.png');
            display: block;
            width: 25px;
            height: 25px;
            background-size: cover;
            
        }
    }
    .date {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        margin: 10px 0;

        >span {
            text-align: center;
        }
    }
    .text {
        background-color: $primary-color;
        color: #FFF;
        width: 100%;
        padding: 7rem 0;
        font-weight: 400;
        >p {
            font-size: 13px;
            margin: 3rem;
        }
    }
    .calendar_section {
        margin: 5rem 0;
    }
}