@font-face {
    font-family: 'MaruBuri';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Regular.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Regular.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Regular.woff2) format("woff2"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Regular.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Regular.ttf) format("truetype");
  }
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');


$primary-color: #9b819b;
$FONT_COLOR: #6b5a6b;
$MAX_WIDTH: 486px;

$BLUE_50: #E0F2F1;
$BLUE_100: #CFD8DC;
$BLUE_200: #B0BEC5;
$BLUE_300: #90A4AE;
$BLUE_400: #78909C;
$BLUE_500: #607D8B;
$BLUE_600: #546E7A;
$BLUE_700: #455A64;
$BLUE_800: #37474F;
$BLUE_900: #263238;

$NEUTRAL_50: #FAFAFA;
$NEUTRAL_100: #F5F5F5;
$NEUTRAL_200: #EEEEEE;
$NEUTRAL_300: #E0E0E0;
$NEUTRAL_400: #BDBDBD;
$NEUTRAL_500: #9E9E9E;
$NEUTRAL_600: #757575;
$NEUTRAL_700: #616161;
$NEUTRAL_800: #424242;
$NEUTRAL_900: #2e2e2e;